MONGODB_URI='mongodb://localhost:27017/ntastic_backend'
PORT=4000
ENABLE_INTROSPECTION=false
# run `node generateSecreteKey.js' to generate
SECRET_KEY=
REFRESH_SECRET_KEY=

# run `node seedAiBot.js` to add to db
AI_BOT_USERNAME="NTasticBot"
AI_BOT_EMAIL="ai@ntastic.site"
AI_BOT_PASSWORD="BotPasswd123!"

# config redis location
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
#REDIS_PASSWORD=

# openai configs 
OPENAI_API_KEY=OPENAI_API_KEY
OPENAI_ORG_ID=OPENAI_ORG_ID
OPENAI_PROJECT_ID=OPENAI_PROJECT_ID

OPENAI_SYSTEM_TAG_PROMPT="1. Identify the tag of the given question content. 2. Each question can be assigned up to 1 to 3 tags. 3. You can only reply with tags and separate them with a space if multiple tags. Do not reply with anything else. 4.Only if a question cannot be labelised under any tag other than "Other", place it under "Other"."
OPENAI_SYSTEM_PROMPT="1. The scope of the answer is limited to things in Darwin or other region in Northern Territory Australia. 2.You are the topic related forum user. 3.No more than 100 words for each response."
OPENAI_MODEL="gpt-4o"
